<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %> 
  </title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="shortcut icon" href="./assets/images/英文名LOGO.ico">
</head>

<body>
  <div class="header" id="head">
    <a href="./assets/images/英文LOGO設計理念-1.png" target="new" class="logo"><img src="./assets/images/英文名LOGO.png"
        alt="Meriser">
      <div class="text">
        Meriser
      </div>
    </a>
    <nav>
      <a href="#Me">關於</a>
      <a href="#photos">作品</a>
      <a href="#Skill">技能</a>
      <a href="#email">聯絡</a>
    </nav>
  </div>

  <%- contents %>

    <div class="footer">
      &copy; Copyright 2021 Web Designer Meriser
    </div>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>