.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  background-color: $bgcolor;
  .logo {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 15px;
    .text {
    color: white;
    }
    img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-right: 15px;
    }
    img:hover {
      border: 3px solid white;
      border-radius: 50%;
    }
  }
  nav {
    text-align: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
            a {
              text-decoration: none;
              color: #d8d8d8;
              padding: 20px 20px;
              -webkit-transition: 0.15s;
              transition: 0.15s;
            }
            a:hover {
              background-color: #7e7e7e;
              color: white;
              border-radius: 13%;
            }
  }
}

.footer {
    text-align: center;
    background-color: $bgcolor;
    color: #c9c9c9;
    padding: 20px 0;
  }